<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="author" content="<%= author %>">
<meta name="apple-touch-fullscreen" content="yes"/>
<title><%= title %></title>
<meta name="description" content="<%= description %>">
<meta name="keywords" content="<%= keywords %>">

<meta property="og:title" content="<%= og_title %>">
<meta property="og:image" content="<%= og_image %>">
<meta property="og:description" content="<%= og_description %>">
<meta property="og:url" content="<%= og_url %>">
<meta property="og:type" content="website">

<meta name="twitter:title" content="<%= og_title %>" />
<meta name="twitter:image" content="<%= og_image %>" />
<meta name="twitter:description" content="<%= og_description %>" />
<meta name="twitter:url" content="<%= og_url %>" />
<meta name="twitter:card" content="summary" />

<link rel="canonical" href="<%= og_url %>"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet" >