<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="author" content="<%= author %>">
<meta name="apple-touch-fullscreen" content="yes"/>
<title><%= title %></title>
<meta name="description" content="<%= description %>">
<meta name="keywords" content="<%= keywords %>">

<meta property="og:title" content="<%= og_title %>">
<meta property="og:image" content="<%= og_image %>">
<meta property="og:description" content="<%= og_description %>">
<meta property="og:url" content="<%= og_url %>">
<meta property="og:type" content="website">

<meta name="twitter:title" content="<%= og_title %>" />
<meta name="twitter:image" content="<%= og_image %>" />
<meta name="twitter:description" content="<%= og_description %>" />
<meta name="twitter:url" content="<%= og_url %>" />
<meta name="twitter:card" content="summary" />

<link rel="canonical" href="<%= og_url %>"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
<script type="text/javascript">
    // Single Page Apps for GitHub Pages
    // MIT License
    // https://github.com/rafgraph/spa-github-pages
    // This script checks to see if a redirect is present in the query string,
    // converts it back into the correct url and adds it to the
    // browser's history using window.history.replaceState(...),
    // which won't cause the browser to attempt to load the new url.
    // When the single page app is loaded further down in this file,
    // the correct url will be waiting in the browser's history for
    // the single page app to route accordingly.
    (function(l) {
        if (l.search[1] === '/' ) {
            var decoded = l.search.slice(1).split('&').map(function(s) {
                return s.replace(/~and~/g, '&')
            }).join('?');
            window.history.replaceState(null, null,
                l.pathname.slice(0, -1) + decoded + l.hash
            );
        }
    }(window.location))
</script>
